
{% extends "/common/layout.twig" %}


{% block content %}
    <h3>Your dashboards:</h3>
    <ol class="list-group list-group-numbered mb-3">
        {% for dashboard in dashboards %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                   <a href="/dashboard/{{ dashboard.id }}" class="link-dark fw-bold">{{ dashboard.name }}</a>
                    <div class="text-right">{{ dashboard.date }}</div>
                </div>
                <div>
                    <span class="badge {% if dashboard.total %} bg-primary {% else%} bg-dark bg-opacity-25 {% endif%} rounded-pill">{{ dashboard.total }} tasks</span>
                    <a href="/dashboard/{{ dashboard.id }}/update/" class="btn-link text-secondary btn-sm">Rename</a>
                    <a data-confirm data-confirm-text="Are you shure ? The Board will be removed with all tasks!" href="/dashboard/{{ dashboard.id }}/delete/" class="btn btn-sm text-warning"><i class="bi bi-trash2"></i></a>

                </div>
            </li>
        {% endfor %}
    </ol>

    <a href="/dashboard/create/" class="btn btn-primary">Add board</a>

{% endblock %}