{%  extends "/common/layout.twig" %}

{% block content %}
<form method="post" action="{{ action }}">
    <input name="id" value="{{ item.id }}" type="hidden">

    <div class="mb-3">
        <label class="form-label">Title</label>
        <input name="name" class="form-control" value="{{ item.name }}" type="text" placeholder="Name">
    </div>

    <div class="mb-3">
        <label class="form-label">Text</label>
        <textarea name="text" class="form-control" placeholder="Text">{{ item.text }}</textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">Marker</label>
        <select name="mark" class="form-control">
            <option value="0" {% if not item.mark %} selected="selected" {% endif %}>none</option>
            <option value="1" {% if item.mark == 1 %} selected="selected" {% endif %}>green</option>
            <option value="2" {% if item.mark == 2 %} selected="selected" {% endif %}>yellow</option>
            <option value="3" {% if item.mark == 3 %} selected="selected" {% endif %}>orange</option>
            <option value="4" {% if item.mark == 4 %} selected="selected" {% endif %}>blue</option>
            <option value="5" {% if item.mark == 5 %} selected="selected" {% endif %}>purple</option>
            <option value="6" {% if item.mark == 6 %} selected="selected" {% endif %}>red</option>
        </select>

    </div>

    <div class="mb-3">
        <label class="form-label">Status</label>
        <select name="status" class="form-control">
            <option value="todo" {% if not item.status or item.status == 'todo' %} selected="selected" {% endif %}>ToDo</option>
            <option value="doing" {% if item.status == 'doing' %} selected="selected" {% endif %}>Doing</option>
            <option value="done" {% if item.status == 'done' %} selected="selected" {% endif %}>Done</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Order</label>
        <input name="sort_order" class="form-control" type="number" value="{% if item.sort_order%}{{ item.sort_order }}{% else %}0{% endif %}" placeholder="Sort order">
    </div>

    <button class="btn btn-primary" type="submit">Save post</button>
</form>

{% endblock %}
