<div class="card mb-3">
    <div class="card-body">
        {% if item.mark %}<span class="mark mark-{{ item.mark }}"></span>{% endif %}
        <div class="d-flex justify-content-between">
            <h5 class="card-title">{{ item.name }}</h5>
            <span class="text-secondary">{{ item.date }}</span>
        </div>
        <p class="card-text">{{ item.text }}</p>
        <a href="/dashboard/{{ item.dashboard_id }}/task/{{ item.id }}" class="link-primary">Read more...</a>
        <a href="/dashboard/{{ item.dashboard_id }}/task/{{ item.id }}/update/"  class="link-secondary">Edit</a>
        <a href="/dashboard/{{ item.dashboard_id }}/task/{{ item.id }}/delete/"  class="link-darka">Remove</a>
    </div>
</div>